.simple-contact-form{
  margin: auto;
  width: 40%;
  border: 3px solid green;
  padding: 10px;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 15%;
}
.heading{
    text-align: center;
    margin-top: 80px;
}